* {
    box-sizing: border-box;
}

button {
    width: 100%;
}

[class*="-button"] {
    margin: 1px;
}

[class*="-button"] button {
    border-style: solid;
}

.pink-button button {
    background: black;
    color: deeppink;
    border-color: deeppink;
    border-radius: 5px;
}

.pink-button button:hover {
    background: deeppink;
    color: black;
}

.blue-button button {
    background: blue;
    color: white;
    border-color: blue;
    border-radius: 15px;
    text-align: left;
}

.blue-button button:hover {
    background: white;
    color: blue;
    text-align: right;
}

.green-button button {
    background: green;
    color: white;
    border-style: none;
}

.green-button button:hover {
    background: white;
    color: green;
}

@media screen and (min-width: 1024px) {
    .button-container {
        display: flex;
        align-items: baseline;
    }

    .pink-button {
        width: 15%;
    }

    .blue-button {
        width: 70%;
    }

    .green-button {
        width: 15%;
    }
}